/* 侧边栏 */
.sidebar {
    width: 200px !important;
    height: 100%;
    background: #304156;
    transition: all 0.25s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    .iconfont {
        margin-right: 8px;
        color: #fff;
        font-size: 18px;
    }
    >div.menu-container>li.el-menu-item,
    >div.menu-container>li.el-submenu>.el-submenu__title {
        border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    }
    .el-menu-item {
        background: #304156 !important;
    }
    /* 菜单hover时的背景 */
    .el-submenu__title:hover,
    .el-menu-item:hover {
        background: #223041 !important;
    }
    /* 菜单active时的背景 */
    /* .el-menu-item.is-active {
        background: #293748 !important;
    } */
}

/* 主体内容 */
.main-container {
    min-height: 100%;
    margin-left: 200px;
    transition: margin-left 0.25s;
    position: relative;
    box-sizing: border-box;
    padding: 60px 20px 0 20px;
}

/* 折叠菜单下的样式 */
.navCollapsed {
    .sidebar {
        width: 64px !important;
        ul {
            display: none;
        }
        .iconfont+span {
            display: none;
        }
        .el-submenu__icon-arrow {
            display: none;
        }
    }
    .main-container {
        margin-left: 64px;
    }
    .aside__top{
        left:64px!important;
    }
}